/* Estilos gerais */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fonte mais divertida */
    background-color: #ffffff; /* Fundo branco */
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF69B4; /* Azul claro para o cabeçalho */
    color: #ffffff; /* Texto branco para contraste */
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 200px; /* Tamanho máximo da imagem para manter o equilíbrio */
}

main {
    padding: 20px;
}

.quiz-section {
    max-width: 800px;
    margin: 0 auto;
}

.question-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.question-card {
    background-color: #ADD8E6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-card h2 {
    margin-top: 0;
    color: #333; /* Cor do texto mais escura */
}

.answer-list {
    list-style: none;
    padding: 0;
}

.answer-list li {
    margin-bottom: 10px;
}

.answer-list li button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #FFD700; /* Coral para os botões de resposta */
    color: #333;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.answer-list li button:hover {
    background-color: #FF6347; /* Laranja claro ao passar o mouse */
    color: #ffffff; /* Texto branco para contraste */
}

.answer-list li button:focus {
    outline: none;
}

.answer-list li button:active {
    transform: scale(0.95);
}

footer {
    background-color: #FF69B4; /* Rosa choque para o rodapé */
    color: #000000; /* Texto índigo para melhor legibilidade */
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}