/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Mantém a fonte divertida */
    background-color:  #94f08c; /* Fundo amarelo claro */
}

header {
    background-color: #FF69B4; /* Rosa choque para o cabeçalho */
    color: #ffffff; /* Texto branco para contraste */
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 200px; /* Mantém o tamanho da imagem equilibrado */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000; /* Cor de texto índigo */
    text-decoration: none;
    font-weight: bold; /* Mantém o texto em negrito para destacar */
    transition: color 0.3s ease; /* Mantém a transição suave da cor do texto */
}

nav ul li a:hover {
    color: #ffffffad; /* Verde limão ao passar o mouse */
}

main {
    padding: 20px;
}

.quiz-section {
    background-color: #ADD8E6; /* Azul claro para a seção do quiz */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #FF69B4; /* Rosa choque para o rodapé */
    color: #000000; /* Texto índigo para melhor legibilidade */
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para os tópicos */
.topic-list {
    list-style: none;
    padding: 0;
}

.topic-list li {
    margin-bottom: 10px;
}

.topic-list li a {
    display: block;
    background-color: #FFD700; /* Ouro para os links */
    color: #4B0082; /* Texto índigo */
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.topic-list li a:hover {
    background-color: #98FB98; /* Verde pálido ao passar o mouse */
}
