/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #f8f8f8; /* Altere para uma cor mais clara */
    color: #333;
    padding: 20px 0;
    text-align: center;
}

header img {
    max-width: 200px; /* Adicione um tamanho máximo à imagem */
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #080707;
    text-decoration: none;
}

main {
    padding: 20px;
}

.quiz-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para os tópicos */
.topic-list {
    list-style: none;
    padding: 0;
}

.topic-list li {
    margin-bottom: 10px;
}

.topic-list li a {
    display: block;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.topic-list li a:hover {
    background-color: #ddd;
}
